.navbar {
  position: sticky; /* eller fixed hvis du vil den altid er synlig */
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  z-index: 1000; /* Sørger for at den ligger over alt andet */
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  column-gap: 20px;
}