.main-summary-container{
    box-sizing: border-box;
    width: 50%;
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    background-color:  rgba(107, 120, 133, 0.2);
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scores-box-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}

.score-summary-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    aspect-ratio: 1.5;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(107, 120, 133, 0.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.score-summary-final-item
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(107, 120, 133, 0.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}