.item-container
{
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.title-container{
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.toggle-switch {
  width: 50px;
  height: 26px;
  background-color: #696161;
  border-radius: 30px;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s ease;
  right: 0px;
}

.toggle-switch.on {
  background-color: #4caf50;
}

.switch-handle {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.toggle-switch.on .switch-handle {
  transform: translateX(24px);
}

.switch-label{
  color: #696161;
  transform: translate(10px, 25px);
}

.switch-label.on{
  color: #f9f9f9;
  transform: translate(10px, 25px);
}