.trade-line{
    background-color:  rgba(107, 120, 133, 0.2);
    position: relative;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid gray;
    display: flex;
    cursor: pointer;
}

.trade-item-score{
    position: absolute;
    right: 0px;
}