.trade-line-details{
    background-color:  rgba(107, 120, 133, 0.2);
    position: relative;
    width: 58%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.trade-details-image{
    position: relative;
    left: 20%;
    width: 60%;
    margin-bottom: 20px;
}

.trade-details-note{
    position: relative;
    width: 90%;
    left: 5%;
}